*~
/.python-version
*.egg-info
__pycache__
/bokeh/*/templates
*#
/Pipfile
/Pipfile.lock
/beehive/build/
.vscode/
bin/caddy
.*
data/gene_expression/gene_expression.db
*.yaml-backup
*.yaml-backup-???
/data/h5ad/*.prq
/data/h5ad/*.h5ad
/data/h5ad/*
data/cache/
data/h5ad/test_observations.ipynb
data/incoming
*.prq
beehive/pyproject.toml
*.h5ad
mus.*
