:5565

# Do some logging 
log {
    output stdout
    level debug
}

#@websockets {
#	header Connection *Upgrade*#
#	header Upgrade    websocket
#}
#reverse_proxy @websockets localhost:5010

# Bokeh static stuff
# @bokehstatic {
#	path_regexp b1 (.*)/static/js/bok(.*)$
# }

# rewrite @bokehstatic /static/js/bok{re.b1.2}
# reverse_proxy @bokehstatic localhost:5010

# Rest of the bokeh requests..

handle /gene_expression {
	respond "#########Ehat>> Not found" 400
	# reverse_proxy localhost:5010
}

#rest from static files
root * ./static/output
file_server
