{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

{% for article in articles %}

    {% if loop.index < 10 %}

      <article>
        <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>   
        <aside>         
          {{ article.date|strftime('%b %d, %Y') }}
          | in <a href="{{ article.category.url }}">{{ article.category.name }}</a>
          {% if article.tags %} | tags: 
            {% for tag in article.tags %}
              <a href="{{tag.url}}">#{{tag.name}}</a>
            {% endfor %}
          {% endif %}
      </aside>
      </article>
      
    {% endif %}

{% endfor %}

{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}

{% endblock content %}
