{% extends base %}

{% block postamble %}

<style>
  {% include 'styles.css' %}
</style>

<script>
  {% include 'bds.js' %}
</script>

{% endblock %}


{% block contents %}

<div class="container">
  <header role="banner">

    <span id="title">{{ config.title }}</span>
      -
    <span id="view-name">{{ view_name }}</span>


    <span id="header_menu">
      <nav id="navbar">
        <ul>
          <li>
            Views
            <ul>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Website Design</a></li>
              <li><a href="#">Mobile Development</a></li>
              <li><a href="#">SEO</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </span>


    {% if other_views %}
     {% for view in other_views %}

     {% endfor %}
    {% endif %}
  </header>

  {% if warning_message %}
  <header class="warning">
    <span id="banner">WARNING: {{ warning_message }}
    </span>
  </warning>
  {% endif %}

  <div class="wrapper">
  <div class="content">

    {{ super() }}

  </div>
</div>
{% endblock %}
